*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #004B6B; 
}
#div{
    background-color: rgb(31, 31, 31);
    width: 600px;
    height: 380px;
    padding:30px;
    margin-top: 10%;
    margin: auto;
    border-radius: 40px;
    border: 7px solid rgb(0, 0, 181);
}
          /*=====================================
                        nome e saldo
            ===================================== */

#divnomesaldo{
    background-color: rgb(43, 43, 43);
    height: 40px;
    padding:2px;
    border-radius: 30px;
}
.nome{
    color:rgb(3, 226, 255);
    width: 120px;
    height:30px;
    text-align: center;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}
.saldo{
    color: aqua;
    width: 380px;
    height:30px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    
}
.dinheiro{
   
    color: rgb(0, 0, 255);
    width: 45px;
    height:30px;
    margin-left:30px;
    font-size: 20pt;
    
}

/*===========================================
                linha do topo 
=============================================*/

.linhatop{
    margin-top: 20px;
    margin-bottom: 45px;
    opacity: 20%;
}
.quantia{
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    width: 250px;
    height:50px;
    font-size:30pt;
    padding: 10px;
    border-radius: 20px;
    border:2px solid blue;
    text-align: center;
}

.resposta{
    background-color: rgb(255, 255, 255);
    width: 600px;
    height:90px;
    padding-top: 10px;
    margin-top: 30px;
    border-radius: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serifs;
    font-size: 15pt;
}
/* ==================================
               botões 
   ==================================*/

.button{
    background-color: rgb(255, 255, 255);
    width: 270px;
    height: 60px;
    border-radius: 20px;
    margin-left: 25px;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}
.button1{
    width: 270px;
    height: 60px;
    border-radius: 20px;
    margin-top: 12px;
    margin-left: 6px;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}
.button2{
    width: 270px;
    height: 60px;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}
.button:hover,.button1:hover,.button2:hover{
    background-color:rgb(89, 173, 241);
    cursor: pointer;
}
